<div class='header'>
<h1>Welcome! <br>SkyLine Bike </h1>


<%= link_to "Sign Up Here", signup_path %> |
<%= link_to "Log In Here", '/login' %><br><br>
<%= button_to "Log In With Google", '/auth/google_oauth2'%>
</div>